/* ===== Header ===== */
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 76px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: inline-block;
}

/* ===== Hero Section ===== */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto 0;
  cursor: pointer;
}

/* ===== Features Section ===== */
.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  margin-bottom: 8px;
}

/* ===== Team Section ===== */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  margin-bottom: 8px;
  text-align: center;
}

.team-role {
  text-align: center;
}

/* ===== Portfolio Section ===== */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  text-align: center;
}

.portfolio-category {
  text-align: center;
}
