/* RESET */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* BODY */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* CONTAINER */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  color: #2e2f42;
}

/* CONTACTS */
.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  padding: 24px 0;
  text-decoration: none;
  color: #434455;
}

/* HERO */
.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  color: #ffffff;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 48px auto 0;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* FEATURES */
.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  margin-bottom: 8px;
}

/* TEAM */
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.team-info {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
}

/* PORTFOLIO */
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
}

/* FOOTER */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
