/* ========================== */
/* ====== ГЛОБАЛЬНЫЙ СБРОС ====== */
/* ========================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

/* ========================== */
/* ====== КОНТЕЙНЕР ====== */
/* ========================== */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ========================== */
/* ====== ХЕДЕР ====== */
/* ========================== */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding: 24px 0;
}

.contact-list {
  display: flex;
  gap: 40px;
}

/* ========================== */
/* ====== ПЕРВАЯ СЕКЦИЯ ====== */
/* ========================== */

.hero-section {
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

/* ========================== */
/* ====== ВТОРАЯ СЕКЦИЯ ====== */
/* ========================== */

.features-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  margin-bottom: 8px;
}

/* ========================== */
/* ====== ТРЕТЬЯ СЕКЦИЯ ====== */
/* ========================== */

.team-section {
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: calc((100% - 72px) / 4);
}

.member-info {
  padding: 32px 0;
}

.member-name {
  text-align: center;
  margin-bottom: 8px;
}

.member-position {
  text-align: center;
}

/* ========================== */
/* ====== ЧЕТВЕРТАЯ СЕКЦИЯ ====== */
/* ========================== */

.apps-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.apps-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.app-item {
  width: calc((100% - 48px) / 3);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app-title {
  margin-bottom: 8px;
}

/* ========================== */
/* ====== ФУТЕР ====== */
/* ========================== */

.footer {
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}
